@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #1b1924;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1px;
  max-width: 1440px;
  margin: 0 auto;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .light-mode {
    --accent-color: #CCC1FF;
    --background-color: #FFFFFF;
    --text-color: #353535;
    --header-color: #6943FF;

}

.dark-mode {
   --accent-color: #273549;
   --background-color: #1F2937;
   --text-color: #FFFFFF;
   --header-color: #CCC1FF;
} */

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 1rem 1.5rem;
    max-width: 800px;
    margin: 0 auto;
  }

.upper {
  /* margin-top: 2rem; */
  background-color: #6943ff;
  padding: 1rem;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  max-height: 400px;
}

.lower {
  background-color: #f4f4f4;
  padding: 1rem;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #353535;
  text-align: center;
  /* max-width: 800px; */
  /* height: 500px; */
}

input {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color: inherit;
  color: #ffffff;
  width: 150px;
  height: 70px;
  outline: none;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

input::placeholder {
  color: #ffffff;
  font-weight: 800;
  text-align: center;
  font-size: 2rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  font-size: 2rem;
  font-weight: 800;
}

button {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  width: 150px;
  height: 40px;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}

h1 {
  font-size: 1.2rem;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  color: #5a537b;
  margin: 0;
}

p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #353535;
  margin: 0;
}

.conversation-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 2rem 0.5rem;
  gap: 1rem;
  background-color: #ffffff;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}
